.align-left{
    align-content: left;
    border: 3px solid black;
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 10vh;
    margin-top: 10vh;
    background: rgba(245,245,245,0.6);
    /* opacity: 85%; */
    /* overflow: auto; */
}

.align-center{
    align-content: center;
    border: 3px solid black;
    height: 100%;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-right: 25px;
    background: rgba(245,245,245,0.6);
    /* overflow: auto; */
}


.friends{
    border: 1px dashed black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    background-color: whitesmoke;
    /* opacity: 85%; */
}

.player-info{
    padding-left: 50px;
    /* color: royalblue; */
}

.underline{
    text-decoration: underline;
}