@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: #F88158;
  border: 2px solid steelblue;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #F99A7B;
  border: 2px dashed black;
}

.container {
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 80vw;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0;
}

.form input {
  /* align-items: l; */
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form textarea{
  width:100%
}
body{
  background-color: #DEB887;
  background-image: url('../other\ basketball.jpeg');
}
